<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mandatory Test">
    <test name="Mandatory Test">
        <groups>
            <run>
                <include name="Mandatory" />
            </run>
        </groups>
        <classes>
            <class name="testsAPI.APITesting" />
        </classes>
    </test>
</suite>